@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("root/root.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*NAV AND HERO SECTION*/

p {
  font-family: "EB garamond", serif;
}

h1,
h2 {
  font-family: var(--heading-and-button-text);
}

nav {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(11, 9, 0);
}

.nav-categories {
  display: flex;
  margin-left: 50px;
}

.search-container {
  margin-right: 120px;
}

.fa-cart-shopping {
  color: white;
  margin-right: 50px;
  font-size: 25px;
}

ul {
  display: flex;
  margin-left: 100px;
  align-items: center;
}

ul li {
  padding: 0px 30px;
  list-style: none;
  text-decoration: none;
}

ul li::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 10%;
}

ul li:hover::after {
  background-color: rgb(255, 149, 11);
  height: 1px;
}

ul li a,
.cta-button {
  font-family: "EB Garamond", serif;
  color: white;
  text-decoration: none;
}

.fa-magnifying-glass {
  color: black;
  font-size: 14px;
  padding-right: 5px;
}

#searchField {
  padding: 4px 20px;
}

.search-button {
  padding: 5px 20px;
  background-color: rgb(255, 149, 11);
}

.dropdown:hover > .dropdown-content {
  display: block;
  color: white;
}

.dropdown-content > li {
  padding: 20px 0px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.716), rgba(0, 0, 0, 0.682)),
    url(/NyRainyDayscode/RaindDays-photos/pexels-karolina-3669288.jpg) no-repeat
      center / cover;
  width: 100%;
  height: 57vh;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text-container {
  margin-top: 5rem;
  color: rgb(183, 183, 183);
  width: 30em;
}

.cta-section {
  color: rgb(239, 239, 239);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-text {
  font-size: 2rem;
  width: 15em;
  color: rgb(231, 231, 231);
}

.cta-button {
  background-color: rgb(255, 149, 11);
  padding: 10px 20px;
  border-radius: 2px;
  margin-top: 20px;
  text-transform: uppercase;
  color: rgb(41, 41, 41);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hero-header {
  color: rgb(255, 149, 11);
  font-size: 4.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

/*------------------------------------------------------------------------------*/

.card-container-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.card-container-header > h2 {
  font-size: 2rem;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}

.image {
  object-fit: cover;
  min-width: 300px;
  height: 350px;

  overflow: hidden;
}

.card {
  width: 300px;
  background-color: rgb(53, 53, 53);
  margin: 10px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.346);
}

.card:hover {
}

.card h3 {
  margin-top: 5px;
  padding: 0px 10px;
  color: white;
}

.card p {
  padding: 0px 10px;
  color: white;
}

.cta-card-container {
  margin-top: 20px;
}

.card a {
  background-color: rgb(255, 149, 11);
  color: rgb(41, 41, 41);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 2px;
  display: block;
  text-align: center;
  margin: 25px 50px;
}

/*--------------------------- MEN & WOMEN-------------------------------------------*/

.men-and-women {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
}

.men-and-women > h2 {
  font-size: 2rem;
}

.men-and-women__container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 800px;
  margin-top: 2rem;
}

.men-card {
  width: 34rem;
  max-height: 43rem;
  background-image: url(/NyRainyDayscode/RaindDays-photos/daniel-j-schwarz-VHUbeZMH6Yg-unsplash.jpg);
  background-size: cover;
  margin-right: 1rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.men-card a,
.women-card a {
  text-decoration: none;
  color: rgb(41, 41, 41);
  background-color: var(--button-default-color);
  padding: 10px 20px;
  border-radius: 4px;
  position: relative;
  top: 600px;
  font-family: var(--heading-and-button-text);
}

.women-card {
  width: 34rem;
  max-height: 43rem;
  margin-left: 1rem;
  background: linear-gradient(rgba(173, 173, 173, 0), rgba(0, 0, 0, 0.772)),
    url(/NyRainyDayscode/RaindDays-photos/pexels-matt-hardy-2755165.jpg)
      no-repeat center / cover;
}

.contact-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.contact-image {
  background-image: url(/NyRainyDayscode/RaindDays-photos/pexels-photo-3578286.jpeg);
  width: 500px;
  background-size: cover;
}

.message-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 40px;
  padding: 40px 40px;
  border-radius: 4px;
  background-color: rgb(241, 241, 241);
}

.message-form h1 {
  text-align: center;
}

form input,
form textarea {
  margin-top: 10px;
  border: 0;
  outline: none;
}
textarea {
}

.smalltext {
  font-size: 12px;
  padding-top: 5px;
  color: rgb(133, 133, 133);
}

#name,
#e-mail {
  height: 40px;
  font-size: 18px;
}

label input {
  width: 100%;
}

#submit {
  padding: 10px 60px;
  background-color: rgb(10, 100, 55);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.2rem;
}

#submit:disabled {
  background-color: rgb(160, 160, 160);
}

/*----------------------------------------------------------------Error Message-------------------------------------------*/

.error-message {
  margin-top: 5px;
  display: none;
  color: red;
  position: absolute;
  background-color: rgb(255, 217, 217);
  padding: 5px 10px;
}

/*Media query main page ---------------------------------------------------------*/

@media (max-width: 510px) {
  ul {
    margin-left: 0px;
  }

  .hero {
    height: 37vh;
  }

  .hero-text-container {
    width: 25em;
  }

  .cta-text {
    font-size: 1.5rem;
  }

  .hero-header {
    font-size: 2.2rem;
    word-break: break-all;
  }
}
